[run]
branch = True

[report]
exclude_lines =
    # Intended to be unreachable:
    raise NotImplementedError$
    raise NotImplementedError\(
    raise AssertionError$
    raise AssertionError\(
    assert False$
    assert False,

    # Debug-only code:
    def __repr__\(

    # Exclusive to mypy:
    if TYPE_CHECKING:$
    \.\.\.$
