body
{
  font-family: sans-serif;
  margin: 20px;
}

dt
{
  font-weight: bold;
}

dd
{
  margin-left: 10pt;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

div.header
{
  font-size: 75%;
  padding-bottom: 0px;
}