/* body { */
/*     background: white url("http://twistedmatrix.com/images/TwistedMatrixLabs.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 100% 10%; */
/* } */

table.children {
    border-top: thin black solid;
    border-bottom: thin black solid;
}

.undocumented {
    color: grey;
}

h1 {
    background: rgb(112, 176, 240);
    border: thin black solid;
}

#part {
    font-style: italic;
}

.toplevel {
    margin-top: 2em;
}

div.toplevel p {
    margin-top: 0em;
}

.function {
    background: lightgreen;
}

.class {
    background: lightblue;
}

.interface {
    background: #ffddff;
}

.module {
    background: lightyellow;
}

.package {
    background: #ffeeaa;
}

div.function { 
  margin: 1em;
  font-family: monospace;
  background: rgb(232, 240, 248);
}

div.functionHeader {
  font-weight: bold;
  color: #000080;
}

div.functionHeader a {
    color: black;
}

span.tag { 
    font-weight: bold;
    font-family: monospace;
}

span.arg {
    padding-right: 4ex;
    font-family: monospace;
}

.children { 
  margin: 1em;
}

.functionBody { 
  margin-left: 2em;
  padding-top: 0.25em;
  padding-bottom: 1em;
  font-family: sans-serif;
}

.interfaceinfo { 
  padding-left: 2em;
  color: blue;
  font-size: 75%;
}