/* body { */
/*     background: white url("http://twistedmatrix.com/images/TwistedMatrixLabs.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 100% 10%; */
/* } */

table.children
{
  border-top: thin black solid;
  border-bottom: thin black solid;
}

.undocumented
{
  color: grey;
}

h1
{
  background: rgb(112, 176, 240);
  border: thin black solid;
  padding-left: 1ex;
}

h2
{
  background: rgb(200, 230, 255);
  border: thin black solid;
  padding-left: 1ex;
}

#part
{
  font-style: italic;
}

#bigTable, #showSplitLink, #showBigLink, #moreSubclassesLink
{
  display: none;
}

.showIfJS
{
  display: none;
}

.hideIfJS
{
  display: inline;
}

.toplevel
{
  margin-top: 2em;
}

div.toplevel p
{
  margin-top: 0em;
}

.function         { background: lightgreen; }
.method           { background: #90ee90; }
.classmethod      { background: #c0ee90; }
.staticmethod     { background: #90eec0; }
.attribute, .classvariable, .variable, .instancevariable        { background: #ddbbff; }
.class            { background: #add8e6; }
.interface        { background: #ffddff; }
.module           { background: lightyellow;}
.package          { background: #ffeeaa; }
.basefunction     { background: #cceecc; }
.basemethod       { background: #cceecc; }
.baseclassmethod  { background: #e0f7cc; }
.basestaticmethod { background: #ccf7e0; }
.baseattribute, .baseclassvariable, .basevariable, .baseinstancevariable    { background: #ffeeff; }
.baseclass        { background: #d6ecf3; }
.baseinterface    { background: #ffeeff; }

.private
{
  color: grey;
  background: lightgrey;
}

div.function
{
  margin: 1em;
  font-family: monospace;
  background: rgb(232, 240, 248);
}

div.functionHeader
{
  font-weight: bold;
  color: #000080;
}

a.functionSourceLink
{
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

a:hover.functionSourceLink
{
  text-decoration: underline;
}

div.functionHeader a
{
  color: black;
}

a.jslink
{
  color: #007FFF;
}

span.tag
{
  font-weight: bold;
  font-family: monospace;
}

span.arg
{
  padding-right: 4ex;
  font-family: monospace;
}

.children
{
  margin: 1em;
}

th a
{
  text-decoration: none;
}

.lineno
{
  text-align: center;
}

.functionBody
{
  margin-left: 2em;
  padding-top: 0.25em;
  padding-bottom: 1em;
  font-family: sans-serif;
}

.interfaceinfo
{
  padding-left: 2em;
  color: blue;
  font-size: 75%;
}

.fieldName
{
  font-weight: bold;
}

td p
{
  margin-top: 0.0em;
}

.docstring p:first-child
{
  margin-top: 0.0em;
}

.docstring p:last-of-type
{
  margin-bottom: 0.0em;
}

td.fieldName
{
  vertical-align: baseline;
}

tr.fieldStart td
{
  padding-top: 0.5em;
}

table.fieldTable td
{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.fieldArg
{
  font-weight: bold;
  color: #000080;
  font-family: monospace;
}

td.fieldArg
{
  vertical-align: baseline;
}

.letterlinks
{
  font-size: 75%;
  padding-left: 8ex;
}

/* for the difflib-generated table */

table.diff {font-family:Courier; border:medium;}
.diff_header {background-color:#e0e0e0}
td.diff_header {text-align:right}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}

.preview { margin: 0; }
.error { background-color: #ff3333; }
.errormessage {
    margin: 0em 0em 0em 2em;
    font-size: 75%;
    color: #773333;
}

/* Syntax Highlighting for Source Code
 *   - doctest examples are displayed in a 'pre.py-doctest' block.
 *     If the example is in a details table entry, then it will use
 *     the colors specified by the 'table pre.py-doctest' line.
 *   - Source code listings are displayed in a 'pre.py-src' block.
 *     Each line is marked with 'span.py-line' (used to draw a line
 *     down the left margin, separating the code from the line
 *     numbers).  Line numbers are displayed with 'span.py-lineno'.
 *     The expand/collapse block toggle button is displayed with
 *     'a.py-toggle' (Note: the CSS style for 'a.py-toggle' should not
 *     modify the font size of the text.)
 *   - If a source code page is opened with an anchor, then the
 *     corresponding code block will be highlighted.  The code
 *     block's header is highlighted with 'py-highlight-hdr'; and
 *     the code block's body is highlighted with 'py-highlight'.
 *   - The remaining py-* classes are used to perform syntax
 *     highlighting (py-string for string literals, py-name for names,
 *     etc.)
 */
pre.py-doctest              { padding: .5em; margin: 1em;
                              background: #e8f0f8; color: #000000;
                              border: 1px solid #708890; }
table pre.py-doctest        { background: #dce4ec;
                              color: #000000; }
pre.py-src                  { border: 2px solid #000000; 
                              background: #f0f0f0; color: #000000; }
.py-line                    { border-left: 2px solid #000000; 
                              margin-left: .2em; padding-left: .4em; }
.py-lineno                  { font-style: italic; font-size: 90%;
                              padding-left: .5em; }
a.py-toggle                 { text-decoration: none; }
div.py-highlight-hdr        { border-top: 2px solid #000000;
                              border-bottom: 2px solid #000000;
                              background: #d8e8e8; }
div.py-highlight            { border-bottom: 2px solid #000000;
                              background: #d0e0e0; }
.py-prompt                  { color: #005050; font-weight: bold;}
.py-more                    { color: #005050; font-weight: bold;}
.py-string                  { color: #006030; }
.py-comment                 { color: #003060; }
.py-keyword                 { color: #600000; }
.py-output                  { color: #404040; }
.py-name                    { color: #000050; }
.py-name:link               { color: #000050 !important; }
.py-name:visited            { color: #000050 !important; }
.py-number                  { color: #005000; }
.py-defname                 { color: #000060; font-weight: bold; }
.py-def-name                { color: #000060; font-weight: bold; }
.py-base-class              { color: #000060; }
.py-param                   { color: #000060; }
.py-docstring               { color: #006030; }
.py-decorator               { color: #804020; }
/* Use this if you don't want links to names underlined: */
/*a.py-name                   { text-decoration: none; }*/