<div xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1" class="function">
  <t:attr name="class" t:render="class_" />
  <a>
    <t:attr name="name" t:render="functionAnchor" />
  </a>
  <a>
    <t:attr name="name" t:render="shortFunctionAnchor" />
  </a>
  <div class="functionHeader">
    <t:transparent t:render="attribute">attribute</t:transparent> =
  </div>
  <div class="functionBody">
    <t:transparent t:render="functionBody">
      Docstring.
    </t:transparent>
  </div>
</div>
