<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="template" content="pydoctor-default" version="1.0" />
    <title>All Online Changes</title>
    <link href="apidocs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>All Online Changes</h1>
    <p>
      You can also see the diff in <a href="rawBigDiff">plain text format</a>.
    </p>
    <ul t:render="bigDiff">
      -
    </ul>
  </body>
</html>
