<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">
  <head>
    <title>API docs for &ldquo;<nevow:invisible nevow:render="title">Something</nevow:invisible>&rdquo;</title>
    <link rel="stylesheet" type="text/css" href="apidocs.css"/>
  </head>
  <body>
    <h1 nevow:render="heading">Heading</h1>
    <p>
      <span id="part" nevow:render="part">Part of something</span>
      <a nevow:render="source">View Source</a>
      <a nevow:render="inhierarchy">View In Hierarchy</a>
    </p>
    <div nevow:render="extras">
    </div>
    <div nevow:render="docstring">
      A docstring.
    </div>
    <nevow:invisible nevow:render="maybechildren">
      <table class="children" nevow:render="sequence" nevow:data="children">
        <tr nevow:pattern="item"><nevow:attr name="class" nevow:render="childclass" />
          <td nevow:render="childkind">Kind</td>
          <td nevow:render="childname">Name</td>
          <td nevow:render="childsummaryDoc">Summary</td>
        </tr>
      </table>
    </nevow:invisible>
    <nevow:invisible nevow:render="sequence" nevow:data="bases">
      <nevow:invisible nevow:render="maybe_base" nevow:pattern="item">
        <p>
          Inherited from <span nevow:render="base_name">base class</span>:
        </p>
        <table class="children" nevow:render="base_sequence">
          <tr nevow:pattern="item2"><nevow:attr name="class" nevow:render="basechildclass" />
            <td nevow:render="childkind">Kind</td>
            <td nevow:render="basechildname">Name</td>
            <td nevow:render="childsummaryDoc">Summary</td>
          </tr>
        </table>
      </nevow:invisible>
    </nevow:invisible>
    <nevow:invisible nevow:render="sequence" nevow:data="methods">
      <div class="function" nevow:pattern="item">
        <a><nevow:attr name="name" nevow:render="functionAnchor"/></a>
        <div class="functionHeader">
          def <span nevow:render="functionName">functionName():</span>
        </div>
        <div class="functionBody" nevow:render="functionBody">
          Docstring.
        </div>
      </div>
    </nevow:invisible>    
  </body>
</html>
