<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title t:render="title">Edit</title>
    <link href="apidocs.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1 t:render="title">Edit</h1>
    <p>Be warned that this is just a plaything currently, changes you make will be lost when the server is restarted, which is likely to be frequently.</p>
    <div t:render="preview">
      <h2>Preview</h2>
    </div>
    <form action="" method="post">
      <t:attr t:render="url" name="action"></t:attr>
      <input type="hidden" name="fullName" value="">
        <t:attr t:render="fullName" name="value"></t:attr>
      </input>
      <input type="hidden" name="initialWhitespace" value="">
        <t:attr t:render="initialWhitespace" name="value"></t:attr>
      </input>
      <pre t:render="before"></pre>
      <div style="margin-left: 8ex;">
        <t:attr t:render="divIndent" name="style"></t:attr>
        <textarea rows="10" style="margin: 0; font-family: monospace;"
                  name="docstring" t:render="textarea" cols="90">
          <t:attr t:render="rows" name="rows"></t:attr>
        </textarea>
        <br />
        <input type="submit" name="action" value="Submit" />
        <input type="submit" name="action" value="Preview" />
        <input type="submit" name="action" value="Cancel" />
      </div>
      <pre t:render="after"></pre>
    </form>
  </body>
</html>
