<!DOCTYPE html>
<html xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <meta name="pydoctor-template-version" content="1" />

  <t:transparent t:render="head">Head</t:transparent>

  <body>

    <div t:render="header" />
    
    <nav class="navbar navbar-default mainnavbar">
      <t:transparent t:render="nav" />Nav</nav>

    <div class="container-fluid">

      <div t:render="subheader" />

      <h2>
        Get Started
      </h2>
      <ul>
        <li>
          A listing of <a href="moduleIndex.html">all modules and
          packages</a>, organized by package hierarchy.
        </li>
        <li>
          A listing of <a href="classIndex.html">all classes</a>,
          organized by inheritance hierarchy.
        </li>
        <li>
          A listing of <a href="nameIndex.html">all functions, classes,
          modules and packages</a>, ordered by name.
        </li>
        <li t:render="onlyIfOneRoot">
          Start at <a href="root.html">root</a>, the root package.
        </li>
        <t:transparent t:render="onlyIfMultipleRoots">
          <li>
            Or start at one of the root <t:transparent t:render="rootkind">
            packages</t:transparent>:
            <ul>
              <li t:render="roots">
                <t:slot name="root"/>
              </li>
            </ul>
          </li>
        </t:transparent>
      </ul>
    </div>

    <footer class="container-fluid" t:render="footer" />

  </body>
</html>
