<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <head>
    <title t:render="title">Something</title>
    <link rel="stylesheet" type="text/css" href="apidocs.css"/>
  </head>
  <body>
    <h1 t:render="heading">Heading</h1>
    <t:transparent t:render="index">
      <t:transparent t:render="letter">
        <a>
          <t:attr name="name"><t:slot name="letter"/></t:attr>
        </a>
        <h2><t:slot name="letter"/></h2>
        <p class="letterlinks">
          <t:slot name="letterlinks">A - B - C - ...</t:slot>
        </p>
        <ul>
          <t:slot name="lettercontents"/>
        </ul>
      </t:transparent>
      <li t:pattern="singleName">
        <t:slot name="name" /> - <t:slot name="link" />
      </li>
      <li t:pattern="manyNames">
        <t:slot name="name" />
        <ul>
          <t:slot name="manyNames" />
        </ul>
      </li>
    </t:transparent>
  </body>
</html>
