<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">
  <head>
    <title nevow:render="title">Something</title>
    <link rel="stylesheet" type="text/css" href="apidocs.css"/>
  </head>
  <body>
    <h1 nevow:render="heading">Heading</h1>
    <nevow:invisible nevow:render="sequence" nevow:data="letters">
      <nevow:invisible nevow:pattern="item">
        <a><nevow:attr name="name" nevow:render="letter"/></a>
        <h2 nevow:render="letter">A</h2>
        <p class="letterlinks" nevow:render="letters">A - B - C - ...</p>
        <ul nevow:render="sequence">
          <li nevow:pattern="item" nevow:render="linkToThing">
          </li>
        </ul>
      </nevow:invisible>
    </nevow:invisible>
  </body>
</html>
