<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">
  <head>
    <title nevow:render="title">Something</title>
    <link rel="stylesheet" type="text/css" href="apidocs.css"/>
  </head>
  <body>
    <h1 nevow:render="heading">Heading</h1>
    <nevow:invisible nevow:render="index">
      <nevow:invisible nevow:pattern="letter">
        <a>
          <nevow:attr name="name"><nevow:slot name="letter"/></nevow:attr>
        </a>
        <h2><nevow:slot name="letter"/></h2>
        <p class="letterlinks">
          <nevow:slot name="letterlinks">A - B - C - ...</nevow:slot>
        </p>
        <ul>
          <nevow:slot name="lettercontents"/>
        </ul>
      </nevow:invisible>
    <li nevow:pattern="singleName">
      <nevow:slot name="name" /> - <nevow:slot name="link" />
    </li>
    <li nevow:pattern="manyNames">
      <nevow:slot name="name" />
      <ul>
        <nevow:slot name="manyNames" />
      </ul>
    </li>
    </nevow:invisible>
  </body>
</html>
