<nav class="navbar navbar-default container" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <meta name="pydoctor-template-version" content="1" />
    
    <div class="navbar-header">
      
      <div class="navlinks">
          <span class="navbar-brand">
            <t:transparent t:render="project">Some Project</t:transparent> <a href="index.html"> API Documentation </a>
          </span>

          <a href="moduleIndex.html">
            Modules
          </a>

          <a href="classIndex.html">
            Classes
          </a>

          <a href="nameIndex.html">
            Names
          </a>
       </div>

    </div>
</nav>
