<nav class="navbar navbar-default" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <meta name="pydoctor-template-version" content="1" />
  
  <div class="container">
    
    <div class="navbar-header">
      
      <span class="navbar-brand">
          <t:transparent t:render="project">Some Project</t:transparent> <a href="index.html"> API Documentation </a>
      </span>
      
    </div>

    <div class="navbar-header">

      <ul class="nav navlinks">

          <li>  <a href="moduleIndex.html">
            Modules
          </a> </li>

          <li>  <a href="classIndex.html">
            Classes
          </a> </li>

          <li>  <a href="nameIndex.html">
            Names
          </a> </li>

      </ul>

    </div>
  </div>
</nav>
