
<nav class="navbar navbar-default" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <meta name="pydoctor-template-version" content="1" />
  <div class="container">

    <div class="navbar-header">
      
      <div class="navlinks">
        <span class="navbar-brand">
          <t:slot name="project" /> <a href="index.html">API Documentation</a>
        </span>

        <a href="moduleIndex.html">
          Modules
        </a>

        <a href="classIndex.html">
          Classes
        </a>

        <a href="nameIndex.html">
          Names
        </a>

        <form action="search-results.html" class="search-box-container">
          <div class="input-group">
            <input id="search-box" name="search-query" placeholder="Search..." aria-label="Search" minlength="2" class="form-control"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" title="Search"><img src="fonts/search.svg" alt="Search!"/></button>
              <a class="btn btn-default" id="search-help-button" title="Help" onclick="toggleSearchHelpText()"><img src="fonts/info.svg" alt="Help!"/></a>
            </span>
          </div>
        </form>

        <div class="rst-admonition hint" id="search-help-box">
          <p class="rst-last">
      
            Search bar offers the following options:
            <ul>   
                <li>
                  <strong>Term presence.</strong> The below example searches for documents that 
                    must contain “foo”, might contain “bar” and must not contain “baz”:
                  <br /> <code>'+foo bar -baz'</code>
                </li> 

                <li>
                  <strong>Wildcards.</strong> The below example searches for documents with words beginning with “foo”:
                  <br /> <code>'foo*'</code>
                </li> 

                <li>
                  <strong>Search in specific fields.</strong> The following search matches all documents 
                  that contains "foo" in their full dotted name and with “bar” in any field:
                  <br /> <code>'+fullName:*foo* +bar'</code>

                  <p>
                    Possible fields: 'name', 'docstring', 'fullName'.
                  </p>
                </li>

                <li>
                  <strong>Fuzzy matches.</strong> The following search matches all documents 
                  that have a word within 1 edit distance of “foo”:
                  <br /> <code>'foo~1'</code>
                </li>
            </ul>

          </p>
        </div>

      </div>


    </div>
  </div>

  <script>
 
    function toggleSearchHelpText() {
        document.body.classList.toggle("search-help-hidden");
    }
    // Init searchHelpText
    document.body.classList.add("search-help-hidden");
  </script>
</nav>
