<nav class="sidebar" xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
  <meta name="pydoctor-template-version" content="1" />

  <div class="docstringToc" t:render="docstringToc"> 
    <div class="thingTitle">Contents</div>
    <t:slot name="sectionList" />
    <hr />
  </div>

  <div t:render="moduleToc"> 
      <t:transparent t:render="separator"></t:transparent>

      <div class="thingTitle">
        <span t:render="kind">Thing (module or class)</span> 
        <code t:render="name">Some thing name</code> 
      </div>

      <div t:render="classesTitle" class="childrenKindTitle">Classes?</div>
      <code t:render="classes">Some classes</code>

      <div t:render="functionsTitle" class="childrenKindTitle">Functions?</div>
      <code t:render="functions">Some functions</code> 

      <div t:render="variablesTitle" class="childrenKindTitle">Variables?</div>
      <code t:render="variables">Some variables</code> 

      <div t:render="subModulesTitle" class="childrenKindTitle">Modules?</div>
      <code t:render="subModules">Some modules</code> 

  </div>

</nav>
