<table  xmlns:nevow="http://nevow.com/ns/nevow/0.1" class="children sortable"
        nevow:render="table">
  <nevow:attr name="id" nevow:render="tableid" />
  <tr nevow:pattern="header" nevow:render="maybeheadings">
    <th nevow:render="maybelineno">Line #</th>
    <th>Kind</th>
    <th>Name</th>
    <th>Docs</th>
  </tr>
  <tr nevow:pattern="item" nevow:render="mapping">
    <nevow:attr name="class"><nevow:slot name="class_" /></nevow:attr>
    <td class="lineno" nevow:render="maybelineno">
      <nevow:slot name="line">Line #</nevow:slot>
    </td>
    <td><nevow:slot name="kind">Kind</nevow:slot></td>
    <td><nevow:slot name="name">Name</nevow:slot></td>
    <td><nevow:slot name="summaryDoc">Summary</nevow:slot></td>
  </tr>
</table>
