.function { 
  margin: 1em;
}

.functionHeader {
  font-weight: bold;
}

.children { 
  margin: 1em;
}

.functionbody { 
  padding-left: 2em;
}

.interfaceinfo { 
  padding-left: 2em;
  color: blue;
  font-size: 75%;
}